/* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.css';

body {
    margin: 0px;
    padding: 0px;

}
.product-grid {//productos de la grilla
    display:grid;
    grid-template-columns: repeat(1, 1fr);
}
/* @media (max-width: 479px) {//smartphones
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 767px) {//tablets medianas
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 991px) {//tablets grandes
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
} */
@media screen and (max-width: 1442px) {
    .product-grid {//productos de la grilla
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1024px) {
        .product-grid {//productos de la grilla
            grid-template-columns: repeat(3, 1fr);
        }
    }
     
    @media screen and (max-width: 768px) {
        .product-grid {//productos de la grilla
            grid-template-columns: repeat(2, 1fr);
        }
    }
     
    @media screen and (max-width: 479px) {
        .product-grid {//productos de la grilla
            grid-template-columns: repeat(1, 1fr);
        }
    }